/* Navbar */
.navbar-custom {
    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(5px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
  }
  
  .navbar-custom .nav-link {
    color: #555;
    font-weight: 500;
    margin-left: 20px;
  }
  
  .navbar-custom .nav-link i {
    margin-right: 5px;
  }
  .navbar-custom .nav-link.active {
    color:#a61e25;
  }
  
  .navbar-custom .nav-link:hover {
    color: #a61e25;
  }
  
  a.btn-custom {
    background-color: #a61e25;
    color: white;
    font-weight: bold;
    border-radius: 20px;
    padding: 5px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
a.btn-custom:hover {
    background-color: #a61e25;
  }

button.btn-outline {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
button.btn-outline {
    margin-right: 5px;
    border-color: #a61e25; 
  color: #a61e25; 
  }

button.btn-outline:hover {
    background-color: #a61e25; 
    color: white; /* Hover durumunda beyaz yazı rengi */
  }
.navbar-brand {
    margin-left: -15px; /* Soldan taşırmak için negatif değer */
    transition: color 0.3s ease; /* Renk geçiş animasyonu */
}

.navbar-brand:hover i {
  color: #a61e25; /* İkonun rengini de değiştirmek için */
}


a.btn.btn-primary {
  color: white;
  border: #a61e25;
  background-color: #a61e25;
}

/* WhatsApp Butonu */
.whatsapp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-decoration: none;
  z-index: 1000;
  transition: transform 0.3s;
}

.whatsapp:hover {
  transform: scale(1.1);
}

/* Tooltip */
.whatsapp-tooltip {
  position: absolute;
  bottom: 60px; /* Butonun üstünde görünmesi için ayarlandı */
  right: 0;
  background-color: dimgray;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  display: none;
  white-space: nowrap;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.whatsapp:hover .whatsapp-tooltip {
  display: block;
  animation: fadeIn 0.3s ease;
}

/* Tooltip görünme animasyonu */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 10px;
}

.card {
  position: relative;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Kartlara gölge ekler */
  transition: box-shadow 0.3s ease, transform 0.3s ease; /* Hover durumunda geçiş animasyonu */
  overflow: hidden; /* Kartın dışına taşan içerikler gizlenir */
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Hover durumunda gölgeyi artırır */
  transform: scale(1.05); /* Hafif büyütme efekti */
}

.card-img {
  width: 100%;
  height: 100%;
  transition: filter 0.3s ease; /* Görselin bulanıklaşması için geçiş */
}

.card:hover .card-img {
  filter: blur(3px); /* Resmi bulanıklaştırma */
}

.card-body {
  position: relative;
  text-align: center;
  padding: 10px;
  z-index: 1; /* Yazıyı en üst katmanda tutar */
}

.card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 2; /* Overlay yazısını resmin üstünde tutar */
}

.card:hover .card-overlay {
  opacity: 1;
  visibility: visible;
}

.overlay-text {
  padding: 20px;
  text-align: center;
  z-index: 3; /* Yazıyı en üst katmanda tutar */
  color: black;
}


/*Footer*/
footer {
    background-color: #a61e25;
    color: white;
    padding: 10px 0;
    text-align: center;
    font-size: 0.9rem;
}
.footer-links a {
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.footer-links a:hover {
    color: white;
}
